<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
</head>
<body style="background:grey">
  <p style="font-size:10px">Your Question</p>
  <p style="font-size:20px"><%= @question %></p>
  <br>
  <p style="font-size:10px">Coach Answer</p>
  <span style="font-weight:bold; font-size:40px"><%= @coach_answer %></span>
<br>
  <img style="height:300px" src=<%= @image %>>
</body>
</html>
